---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---
<BaseLayout
	title="My Astro Learning Blog"
	description="All the things I have learned why building with Astro and other technology."
>
		<h1>My Astro Learning Blog</h1>
		<p>This is where I post about my Astro Learnings!</p>
		<ul>
			{allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title} />)}
		</ul>
</BaseLayout>
