---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout>
	<h1>Welcome to my home page!</h1>
	<h2>My Awesome blog subtitle</h2>
	<Greeting client:load messages={["Hi", "Howdy", "Hello", "Hey there"]} />
	<p>This page is a work in progress and really is just an experiment with Astro static site generation. Many changes coming to this site.</p>
</BaseLayout>
