---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import SEO from "../components/SEO.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";


const { ...seoProps } = Astro.props;
---


<html lang="en">
	<head>
		<SEO {...seoProps} />
		<GoogleAnalytics />
		<meta name="google-site-verification" content="g4HH0syijW0pnD3JomACZnkdNknx_kmMs7llqymtGA" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>